@media screen, handheld {

*	{ font-family:"Arial Unicode MS";direction: rtl;text-align:right}
h1 { color:red; font-size:200%; font-weight:bolder; }
h2 { background-color:#E0E0E0; font-weight:bold;font-size:200%; border:none; margin:0px; padding:1.5em;}
p {  font-size:100%; }
a {  font-size:200%; }
a:link { text-decoration:none; font-weight:bold; color:#e00000; }
a:visited { text-decoration:none; font-weight:bold; color:#800000; }
a:hover { text-decoration:none; font-weight:bold; background-color:#ff0; }
a:active { text-decoration:none; font-weight:bold; background-color:#cff; }
a:focus { text-decoration:none; font-weight:bold; background-color:#080; }
strong  { font-weight:bold;margin-right: 1.5em; margin-left: 1.5em; }
cite	{color:blue; }
}
@media print {
*	{direction: rtl;}
}

